@using bookstore.Models.Interfaces;
@inject IControlSession _servicioSession
@{Cliente _clienteLogin = this._servicioSession.RecuperarSession<Cliente>("datoscliente");}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - bookstore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-9" style="background-color: black"></div>
                <div class="col-3" style="background-color: black">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a href="#" class="btn btn-dark btn-sm">
                            <img src="~/images/botonMINIcontacto.png" />
                        </a>
                        @if (_clienteLogin != null)
                        {
                            <a asp-controller="Cliente" asp-action="MiPerfil" class="btn btn-dark btn-sm">
                                Bienvenido: @_clienteLogin.Nombre,@_clienteLogin.Apellidos,(@_clienteLogin.CredencialesCliente.Email)
                            </a>
                        }
                        else    
                        {
                            <a asp-controller="Cliente" asp-action="Login" class="btn btn-dark btn-sm">
                                <img src="~/images/botonMINIlogin.png" />
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div class="row" style="background-color: rgb(237,237,237)">
                <div class="col-md-4">
                    <img src="~/images/logo_Agapea_layout.png" />
                </div>
                <div class="col-md-6">
                    <form asp-controller="Tienda" asp-action="BuscarLibros" method="post">
                        <div class="input-group mb-3">
                            <input type="search" name="cajaTexto" class="form-control" placeholder="Buscar por libro, autor, ISBN..."
                                   aria-label="Buscar por libro,autor,isbn..." aria-describedby="botonBuscar" />
                            <div class="input-group-append">
                                <a class="btn btn-outline-primary" id="botonBuscar"
                                   onclick="javascript: document.forms[0].submit()">
                                    <img src="~/images/boton_BuscarLibros.png" />
                                </a>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio" value="Titulo">
                                    Titulo
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio" value="ISBN">
                                    ISBN
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio" value="Autor">
                                    Autor
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio" value="Editorial">
                                    Editorial
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                    <a asp-action="MostrarPedido" asp-controller="Pedido" class="btn btn-light">
                        <img src="~/images/boton_mini_carrito.png" />
                        <span class="badge badge-danger">0</span>
                        <small>Total:</small>
                        <img src="~/images/boton_flecha_minicarrito.png" />
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <!-- treeview de materias de libros -->
                @await Component.InvokeAsync("PanelListaMaterias")
            </div>
            <div class="col-10">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col">
                    <small>&copy;  Agapea CLASE S.A. 2020. Reservados todos los derechos </small>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
