@model List<Materia>
<div class="list-group">
    @{
        foreach (Materia materia in Model) 
        {
            <a class="list-group-materia list-group-materia-action" 
               asp-controller="Tienda" asp-action="Libros"
               asp-all-route-data="@(new Dictionary<String, String> {{ "id", materia.IdMateria +"_"+ materia.IdMateriaPadre +"_"+ materia.NombreMateria.Split(";")[1].ToString() }})">
                    @materia.NombreMateria.Split(";")[0].ToString()
            </a>
        }
    }
</div>

