@model bookstore.ViewModels.ForgottenPasswordViewModel 
@{Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - asp.net-web-bookstore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/images/cabecera.png">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3><strong>Recordar Contraseña</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Introduzca el correo electrónico con el que se registró en nuestro sistema:</p>
            </div>
        </div>
        <form asp-controller="Cliente" asp-action="ForgottenPassword">
            <div class="form-group">
                <label for="email"><strong>Correo Electronico:</strong></label>
                <input id="email" type="email" asp-for="@Model.Email" class="form-control" placeholder="inicia sesion con tu email" />
                <span class="text-danger" asp-validation-for="@Model.Email"></span>
            </div>
        </form>
    </div>
</body>
</html>