@{ Layout = null;}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="~/images/cabecera.png" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <h3><strong>Registro realizado correctamente</strong></h3>
                <p>Para completar el proceso acceda al enlace incluido en el EMAIL que le acabamos de enviar</p>
                <p>Si no lo recibe, compruebe en su carpeta SPAM o de Correo no deseado</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a aps-controller="Tienda" asp-action="Libros" class="btn btn-default">
                <img src="~/images/BotonVolverTienda.png" />
            </a>
        </div>
    </div>
</div>
